.meter {
  display: flex;
  justify-content: center;
  gap: 100px;
}
@media screen and (max-width: 963px) {
  .meter {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
@media screen and (max-width: 1200px) {
  .meter {
    gap: 50px;
  }
}

.main-header {
  text-align: center;
  margin-bottom: 100px;
}
.light-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
